.container{
    max-width: 1240px;
}
table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}
th,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    position: relative;
}
.td-prices{
    text-align: right;
}
.th-rotate{
    width: 80px;
    height: 120px;
    writing-mode: vertical-lr;
    font-weight: 400;   
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.fake-link{
    margin-bottom: 50px;
}
.fake-link span{
    color: dodgerblue;
}
.td-prices:hover::before{ 
    background-color: whitesmoke;
    content: '\00a0';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: -1;        
}
.td-prices:hover::after{ 
    background-color: whitesmoke;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}
.td-prices:hover{
    background-color: lightgoldenrodyellow;
}
