<div class="container">
    <h1>{{relacija.nazivRelacije}}</h1>
  
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let stanica of relacija.stanice" class="th-rotate">{{stanica.nazivStanice}}</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let stanica1 of relacija.stanice; let i = index">
          
            <tr>
                <td>{{stanica1.nazivStanice}}</td>
                <td *ngFor="let stanica2 of relacija.stanice; let j = index" class="td-prices">
                    <ng-container *ngIf="i === j"></ng-container>
                    
                    <ng-container *ngIf="i !== j">
                       
                        <ng-container *ngFor="let cena of relacija.staniceCena">
                            <ng-container *ngIf="cena.stanica1RefId === stanica1.stanicaId && cena.stanica2RefId === stanica2.stanicaId">
                            {{cena.cena}}
                            </ng-container>
                        </ng-container>
                        
                    </ng-container>
                </td>
            </tr>

        </ng-container>
      </tbody>

    </table>
  </div>
